<ion-view view-title="领料出库备料" class="stable-bg">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-positive icon ion-navicon-round"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button native-ui-sref="home" native-options="{type: 'flip', direction:'left', duration:400}"
                class="button button-positive icon ion-android-home"></button>
    </ion-nav-buttons>
    <toast ng-model="toast" position="bottom"></toast>
    <div style="top:38px; position: absolute;width:100%;">
        <div>
            <div class="row">
                <div class="col">
                    <div class="bar bar-header bar-light item-input-inset">
                        <span class="input-label">单号/批次:</span>
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="请扫描单据/批次二维码" ng-model="QrCode"
                                   auto-focus="QRCodeInputFocus" ng-enter="btnInputQrCode_Enter(QrCode)">
                        </label>
                        <button class="button button-assertive" ng-click="clearQRInput()">
                            清空
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="light-bg" style="padding:0 10px 0 10px;margin: 0 5px 5px 5px;">
            <div class="row">

                <div class="col-50 labelHide">
                    <a class="button icon-right ion-bluetooth button-balanced button-small">蓝牙标签机</a>
                    <span class="balanced"
                          style="font-weight: bold;font-size:1.2em;line-height: 30px;">{{Bluetooth.name}}</span>
                </div>
                <div class="col-50 labelHide">
                    <span style="font-weight: bold;font-size:1.2em;line-height: 30px;">单号：{{IssueHead.ISSUE_RECEIPT_NO}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-50 labelHide">领料人员：{{IssueHead.PACK_USER_NAME}}</div>
                <div class="col-50 labelHide">领料部门：{{IssueHead.PACK_DEPT_NAME}}</div>
            </div>
            <div class="row">
                <div class="col-50 labelHide">领料日期：{{IssueHead.PACK_DATE}}</div>
                <div class="col-50 labelHide">备&nbsp;&nbsp;&nbsp;&nbsp;注：{{IssueHead.REMARK}}</div>
            </div>
        </div>
    </div>
    <ion-content class="has-header" overflow-scroll="false" scroll="true" style="top:182px;"
                 delegate-handle="listIssueBody">
        <ion-list can-swipe="true" id="list_IssueBody">

            <ion-item ng-repeat="item in IssueBody" class="item-remove-animate" style="padding: 10px;"
                      ng-click="TransferItemDetailPage(item.ITEM_CODE)" ng-class="{'energized-bg':$index===selected}">
                <!--<div style="float:left;vertical-align: middle;width: 4%;line-height: 30px;-->
                <!--color: white;text-align: center;border-radius: 25%;background-color: #0c63ee;font-size: 14px"-->
                <!--ng-bind="$index+1">-->
                <!--1-->
                <!--</div>-->
                <div style="float:left;width:6%;height:60px;">
                    <div style="width:100%;height:22px;margin-top:25px;text-align: center;border-radius: 25%;background-color: #0c63ee;color: white;font-size: 13px">
                        {{$index+1}}
                    </div>
                </div>
                <div style="float:left;width: 94%;padding-left: 2px"
                     ng-style="SetStyle(item.ISSUE_RECEIPT_QTY,item.ACTUAL_ISSUE_RECEIPT_QTY)">
                    <div class="row">
                        <div class="col-50"><h3>品号：{{item.ITEM_CODE}}</h3></div>
                        <div class="col-50"><h3>品名：{{item.ITEM_NAME}}</h3></div>

                    </div>
                    <div class="row" style="margin-top:2px;padding-top: 2px;">
                        <div class="col-33"><h3>需求：{{item.ISSUE_RECEIPT_QTY}}</h3></div>
                        <div class="col-33"><h3>已备：{{item.ACTUAL_ISSUE_RECEIPT_QTY}}</h3></div>
                        <div class="col-25"><h3>单位：{{item.UNIT_CODE}}</h3></div>
                    </div>
                    <div class="row" style="margin-top:2px;padding-top: 2px;">
                        <div class="col-67"><h3>储位：{{item.LOCATOR_CODE}}</h3></div><!--从哪个储位出-->
                        <div class="col-33"><h3>状态：{{item.STATUS}}</h3></div>

                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <style>
        .input-label {
            display: table;
            padding: 7px 10px 7px 0;
            max-width: 200px;
            width: auto;
            color: #000;
            font-size: 16px;
        }

        .col {
            padding: 2px;
        }

        .labelHide {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <script id="TransferItemDetail.html" type="text/ng-template">
        <ion-modal-view class="stable-bg">
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">储位备料明细</h1>
                <button class="button button-clear button-primary" ng-click="ItemDetailModal.hide()">关闭</button>
            </ion-header-bar>
            <div class="padding"
                 style="top:38px; position: absolute;width:100%;padding-top:2px;">
                <div class="row">
                    <div class="col">
                        <div class="bar bar-header bar-light item-input-inset">
                            <span class="input-label">批次:</span>
                            <label class="item-input-wrapper">
                                <i class="icon ion-ios-search placeholder-icon"></i>
                                <input type="search" id="txtStkQrCode" placeholder="请扫描批次二维码" ng-model="StkQrCode"
                                       auto-focus="StkQrCodeInputFocus" ng-enter="btnInputStkQrCode_Enter(StkQrCode)">
                            </label>
                            <button class="button button-assertive" ng-click="clearStkLocData(StkQrCode)">
                                清空
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-50 labelHide"> 品号：{{ItemLocHead.ITEM_CODE}}</div>
                    <div class="col-50 labelHide"> 品名：{{ItemLocHead.ITEM_NAME}}</div>
                </div>
                <div class="row">
                    <div class="col-50 labelHide"> 需求：{{ItemLocHead.ISSUE_RECEIPT_QTY}}</div>
                    <div class="col-50 labelHide ">已备：{{ItemLocHead.ACTUAL_ISSUE_RECEIPT_QTY}}</div>
                </div>
                <div class="row">
                    <div class="col-50 labelHide"> 工单：{{ItemLocHead.MO_NO}}</div>
                    <div class="col-50 labelHide"> 单位：{{ItemLocHead.UNIT_CODE}}</div>
                </div>
            </div>
            <ion-content class="padding" style="top:170px;">
                <ion-list can-swipe="true">

                    <ion-item ng-repeat="item in ItemLocBody" class="item-remove-animate"
                              ng-style="SetStyle(item.RESERVE_QTY,item.ISSUED_QTY)">
                        <div class="row">
                            <div class="col-50"><h3>储位：{{item.LOCATOR_CODE}}</h3></div>
                            <div class="col-50"><h3>库存：{{item.STK_QTY}}</h3></div>
                        </div>
                        <div class="row" style="margin-top:2px;padding-top: 2px;">
                            <div class="col-50"><h3>需求：{{item.RESERVE_QTY}}</h3></div>
                            <div class="col-50"><h3>已备：{{item.ISSUED_QTY}}</h3></div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>