.login {
    .content {
        .userInfo {
            .blank {
                height: 10px;
            }

            img {
                width: 120px; 
                display: block;
                margin: auto;
            }
        }
    }
}
